<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plant">
	<!-- insert, delete, update의 결과 타입은 무조건 resultType=”int” 이므로 
	프로그래머가 써주지 않아도 이미 resultType=”int”가 있는 것으로 봄. -->
	<!-- <insert id="insert" parameterType="plantVO" useGeneratedKeys="true" keyProperty="plant_no">
		insert into plant values (null, null, #{plant_name}, #{plant_date}, #{plant_type}, #{plant_birth}, #{plant_mmti}, #{plant_img}, null)
	</insert>
	
	<delete id="del" parameterType="Integer">
		delete from plant where plant_id = #{plant_id}
	</delete>
	
	<update id="up"  parameterType="plantVO">
		update plant set plant_img = #{plant_img} where plant_id = #{plant_id}
	</update> -->
	
	<select id="one" parameterType="String" resultType="plantVO">
		select * from plant where plant_species = #{plant_species}
	</select>
	
	<select id="all" parameterType="plantVO" resultType="plantVO">
		select plant_img, plant_species from plant;
	</select>
	
</mapper>











